.peer:hover .peer-img {
	border: 4px solid #2870BD;
}

.peer {
	cursor: pointer;
}

.peer-img {
	width: 56px;
	height: 56px;
	background: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border: 4px solid black;

}